* {
    margin: 0;
    padding: 0;
    color: white;
    --border-color: rgb(48, 48, 48); 
}

@font-face {
    font-family: titles;
    src: url("../assets/helvetica-neue-5/HelveticaNeueMedium.otf");
}

@font-face {
    font-family: texts;
    src: url("../assets/helvetica-neue-5/HelveticaNeueThin.otf");
}

#main {
    background-color: black;
    display: flex;
    width: 100vw;
    height: 100vh;
}

#right-bar {
    border-right: 1px solid var(--border-color);
    height: 100vh;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: end;
    padding: 5% 10% 0 0;
}

#center{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: transparent;
    width: 65%;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    height: 4%;
    width: 95%;
    padding-bottom: 10px;
}

#left-container {
    display: flex;
}

#arrow-left {
    margin-right: 10px;
}

#lupa {
    justify-self: end;
    cursor: pointer;
}

nav h2 {
    font-family: titles;
    font-weight: 550;
    font-size: 1.2rem;
    margin-bottom: 3px;
}

nav h5 {
    font-family: texts;
    color: rgb(117, 115, 115);
    opacity: .7;
}

#header {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
}

#head-img {
    width: 100%;
}

#profile{
    width: 22%;
    border: 5px solid black;
    border-radius: 50%;
    position: absolute;
    left: 3%;
    top: 56%;
}

#btn-cont {
    display: flex;
    justify-content: end;
    align-items: center;
    position: absolute;
    top: 95%;
    right: 5%;
    width: 100%;
    gap: 5px;
}

.btn-h {
  background-color: transparent;
  color: #ffffff;
  width: 40px;
  height: 40px;
  padding: 0;
  border-radius: 50%;
  border: 1px solid rgba(255,255,255,0.12);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: .12s ease, transform .08s ease, box-shadow .12s ease;
  box-shadow: 0 1px 0 rgba(0,0,0,0.3) inset;
  font-size: 1rem;
}

.btn-h:hover {
  background-color: rgba(255,255,255,0.06);
}

#seguir {
  background-color: #ffffff;
  color: black;
  font-family: "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  font-size: 15px;
  font-weight: 700;
  padding: 6px 16px;
  font-size: 1rem;
  border: none;
  border-radius: 50px;
  cursor: pointer;
}


#left-bar {
    border-left: 1px solid var(--border-color);;
    height: 100vh;
    width: 35%;
    padding: 5% 0 0 10%;
}

#arrow-left {
    display: flex;
    align-items: center;
    width: auto;
    height: auto;
    padding: 10px;
    border-radius: 25px;
    cursor: pointer;
}

#arrow-left:hover {
    background-color: rgba(71, 70, 70, 0.5);
}

