* {
    margin: 0;
    padding: 0;
    color: white;
    --border-color: rgb(48, 48, 48); 
}

@font-face {
    font-family: titles;
    src: url("../assets/helvetica-neue-5/HelveticaNeueMedium.otf");
}

@font-face {
    font-family: texts;
    src: url("../assets/helvetica-neue-5/HelveticaNeueThin.otf");
}

#main {
    background-color: black;
    display: flex;
    width: 100vw;
    height: 100vh;
}

#right-bar {
    border-right: 1px solid var(--border-color);
    height: 100vh;
    width: 15%;
    display: flex;
    flex-direction: column;
    align-items: end;
    padding: 5% 10% 0 0;
}

#center{
    display: flex;
    background-color: transparent;
    width: 50%;
}

nav {
    display: flex;
    align-items: center;
    padding: 30px;
    height: 10%;
}

#arrow-left {
    margin-right: 25px;
}

#arrow-left:hover {
     background-color: rgb(0, 0, 0);
}

nav h2 {
    font-family: titles;
    font-weight: 500;
    margin-bottom: 5px;
}

nav h5 {
    font-family: texts;
    color: rgba(133, 128, 128, 0.808);
    opacity: .7;
}

#left-bar {
    border-left: 1px solid var(--border-color);;
    height: 100vh;
    width: 15%;
    padding: 5% 0 0 10%;
}

#arrow-left {
    color: white;
}

