* {
    margin: 0;
    padding: 0;
    color: white;
    --border-color: rgb(48, 48, 48); 
}

@font-face {
    font-family: titles;
    src: url("../assets/helvetica-neue-5/HelveticaNeueHeavy.otf");
}

@font-face {
    font-family: texts;
    src: url("../assets/helvetica-neue-5/HelveticaNeueThin.otf");
}


@font-face {
    font-family: mini;
    src: url("../assets/helvetica-neue-5/HelveticaNeueLight.otf");
}

@font-face {
    font-family: bold;
    src: url("../assets/helvetica-neue-5/HelveticaNeueBold.otf");
}

#main {
    background-color: black;
    display: flex;
    width: 100vw;
    height: 100vh;
}

#right-bar {
    border-right: 1px solid var(--border-color);
    height: 100vh;
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: end;
    padding: 5% 10% 0 0;
}

#center{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: transparent;
    width: 65%;
    overflow-x: hidden;
}

#main-b {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    height: 4%;
    width: 95%;
    padding-bottom: 10px;
}

#left-container {
    display: flex;
}

#arrow-left {
    margin-right: 10px;
}

#lupa {
    justify-self: end;
    cursor: pointer;
}

.titles {
    font-family: titles;
    font-weight: 550;
    font-size: 1.2rem;
    margin-bottom: 3px;
}

.texts {
    font-family: texts;
    color: rgb(117, 115, 115);
    opacity: .7;
}

nav h5 {
    font-family: texts;
    color: rgb(117, 115, 115);
    opacity: .7;
    text-decoration: none;

}

#main-header {
    margin-bottom: 100vh;
}

#header {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 10vh;
}

#head-img {
    width: 100%;
}

#profile{
    width: 22%;
    border: 5px solid black;
    border-radius: 50%;
    position: absolute;
    left: 3%;
    top: 56%;
}

#btn-cont {
    display: flex;
    justify-content: end;
    align-items: center;
    position: absolute;
    top: 105%;
    right: 5%;
    width: 100%;
    gap: 5px;
}

.btn-h {
  background-color: transparent;
  color: #ffffff;
  width: 40px;
  height: 40px;
  padding: 0;
  border-radius: 50%;
  border: 1px solid rgba(255,255,255,0.12);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: .12s ease, transform .08s ease, box-shadow .12s ease;
  box-shadow: 0 1px 0 rgba(0,0,0,0.3) inset;
  font-size: 1rem;
}

.btn-h:hover {
  background-color: rgba(255,255,255,0.06);
}

#seguir {
  background-color: #ffffff;

  font-family: "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  font-size: 15px;
  font-weight: 645;
  padding: 6px 16px;
  font-size: 1rem;
  border: none;
  border-radius: 50px;
  cursor: pointer;
}

#seguir a {
    color: black;
    text-decoration: none;
}

#bio-cont{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 15px;
    border-bottom: 1px solid var(--border-color);
}

.bio-align{
    padding-left: 3%;
}

#name {
    font-size: 23px;
}

#username {
    color: rgb(117, 115, 115);
    font-size: 18px;
    font-family: mini;
    text-decoration: none;
    font-weight: 500;
}

#bio {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 500;
    font-size: 18px;
}


.icons {
    display: flex;
    gap: 10px;
    margin-bottom: 5px;
}

.icons h5 {
    color: gray;
    font-family: mini;
    font-weight: 500;
}

#seguidores {
    display: flex;
    font-family: texts;
    font-weight: 300;
    gap: 10px;

}

#seguidores span {
    color: gray;
}
#about {
    width: 100%;
}

#about ul {
    display: flex;
    width: 100%;
    gap: 0;
    list-style: none;
    justify-content: space-around;
}

#about li {
    width: 34%;
    height: 5vh;
    padding: 10px 10px 5px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-family: bold;
    font-weight: 400;
    font-size: 15px;
    transition: ease .2s;
}

#about li:hover {
    background-color: rgb(117, 115, 115, .2);

}


#left-bar {
    border-left: 1px solid var(--border-color);;
    height: 100vh;
    width: 20%;
    padding: 5% 0 0 20%;
}

#arrow-left {
    display: flex;
    align-items: center;
    width: auto;
    height: auto;
    padding: 10px;
    border-radius: 25px;
    cursor: pointer;
}

#arrow-left:hover {
    background-color: rgba(71, 70, 70, 0.5);
}

